.Mobile {
  height: 100%;
  > section {
    height: 100vh;
    width: 100%;
    &.Cover {
      background-color: white;
    }
    &.Welcome {
      background-color: #e4ff26;
    }
    &.Start {
      background-color: orange;
    }
    &.OnTheGo {
      background-color: #ff40c3;
    }
    &.Rdn {
      background-color: #05ab89;
    }
    &.TryNow {
      background-color: #1d2a88;
    }
  }
}
