@import '../Index.scss';
@import '../../Styles/_functions.scss';
.Desktop {
  .Cover,
  .Welcome,
  .Feature,
  .StayOnDiet,
  .TryOut {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 3vw 7vw;
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
    position: absolute !important;
    top: 0;
    left: 0;
    // transform: translateY(-100%);

    transform: translate3d(0, 0, 0);

    header {
      font-weight: 800;
      margin-bottom: 2vw;
      display: flex;
      flex-direction: column;

      font-weight: 800;
      margin-bottom: 4.88281vw;
      span {
        font-size: 3rem;
        font-weight: 400;
      }
    }
    main {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: baseline;

      justify-content: center;
      flex: 1;

      .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        width: 100%;
      }
    }
  }
  .Cover {
    z-index: 10;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    padding: get-vw(32px) get-vw(80px);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    &.Content {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    header {
      display: flex;
      flex-direction: column;
      font-size: get-vw(189.6px);
      font-weight: 800;
      margin-bottom: get-vw(100px);

      span {
        font-size: get-vw(48px);
        font-weight: 400;
      }
      img {
        //height: get-vw(100px);
        height: 10vh;
      }
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-end;
      flex: 1;
      ul {
        li {
          transform: translateX(-110%);

          &.title {
            font-size: 12vh;
            color: white;
            font-weight: 700;
            text-shadow: 0px 0px 3rem black;
            animation-delay: 0s;

            span {
              color: #e4ff26;
            }
          }
          &.subtitle {
            margin-top: 0.2vw;
            font-size: 7vh;
            color: white;
            font-weight: 700;
            text-shadow: 0px 0px get-vw(32px) black;
            animation-delay: 0.5s;

            span {
              color: #e4ff26;
            }
          }
          &.description {
            margin-top: 1vw;
            font-size: 3.5vh;
            font-weight: 200;
            color: white;
            text-shadow: 0px 0px get-vw(32px) black;
            animation-delay: 1s;

            > span {
              color: #000000;
              text-shadow: none;
              &.yellow {
                color: #e4ff26;
                font-weight: 600;
              }
            }
          }
          &.startAnimation {
            animation: 1s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
            &:nth-child(1) {
              animation-delay: 0s;
            }

            &:nth-child(2) {
              animation-delay: 0.5s;
            }

            &:nth-child(3) {
              animation-delay: 1s;
            }
          }
        }
      }
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: get-vw(160px);
      //padding: get-vw(32px) get-vw(35px) get-vw(32px) get-vw(83.2px);
      padding: 2vh 2vh 2vh 5vh;
      font-family: 'Montserrat', sans-serif;
      // font-size: get-vw(48px);
      font-size: 4vh;
      font-weight: 600;
      color: #000000;
      background-color: #e4ff26;
      border: none;
      border-radius: get-vw(160px);
      transition: box-shadow 0.2s;
      cursor: pointer;

      svg {
        margin-left: get-vw(32px);
        height: get-vw(78.4px);
        animation: 1s bounce ease infinite 5s;
        backface-visibility: hidden;
        border: none;
      }
      &:hover {
        box-shadow: 0px 0px get-vw(16px) #e4ff26;
      }
    }
    &.Rdn {
      background-image: url('../../images/Covers/Rdn.jpg');
      background-position: 100% 20%;
      background-size: cover;

      // main {
      //   ul {
      //     li {
      //       transform: translateX(-110%);

      //       &.title {
      //         font-size: 12vh;
      //         color: white;
      //         font-weight: 700;
      //         text-shadow: 0px 0px 3rem black;
      //         animation-delay: 0s;

      //         span {
      //           color: #e4ff26;
      //         }
      //       }
      //       &.subtitle {
      //         margin-top: 0.2vw;
      //         font-size: 7vh;
      //         color: white;
      //         font-weight: 700;
      //         text-shadow: 0px 0px get-vw(32px) black;
      //         animation-delay: 0.5s;

      //         span {
      //           color: #e4ff26;
      //         }
      //       }
      //       &.description {
      //         margin-top: 1vw;
      //         font-size: 3.5vh;
      //         font-weight: 200;
      //         color: white;
      //         text-shadow: 0px 0px get-vw(16px) black;
      //         animation-delay: 1s;

      //         > span {
      //           color: #000000;
      //           text-shadow: none;
      //           font-weight: 400;
      //           &.yellow {
      //             color: #e4ff26;
      //           }
      //         }
      //       }
      //       &.startAnimation {
      //         animation: 1s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
      //         &:nth-child(1) {
      //           animation-delay: 0s;
      //         }

      //         &:nth-child(2) {
      //           animation-delay: 0.5s;
      //         }

      //         &:nth-child(3) {
      //           animation-delay: 1s;
      //         }
      //       }
      //     }
      //   }
      // }
      .navigation {
        .circle {
          background-color: #ffffff;
          &.chosen {
            opacity: 1 !important;
            // box-shadow: 0px 0px 0.5rem #000000;
          }
        }
      }
    }
    &.Calories {
      background-image: url('../../images/Covers/Calories.jpg');
      background-position: 80% 30%;
      font-family: 'Montserrat', sans-serif;
      ul {
        li {
          &.description {
            background-color: #000000bb;
            width: fit-content;
            padding: 0 1vw;
          }
        }
      }

      .navigation {
        .circle {
          background-color: #ffffff;
          &.chosen {
            opacity: 1 !important;
            // box-shadow: 0px 0px 0.5rem #000000;
          }
        }
      }
    }
    &.Beauty {
      background-image: url('../../images/Covers/Beauty.jpg');
      background-position: center right;

      .description {
        font-weight: 500;

        span {
          font-weight: 600;
        }
      }
    }
    .navigation {
      right: 0%;
      .circle {
        background-color: #000000;
        &.chosen {
          opacity: 1 !important;
          // box-shadow: 0px 0px 0.5rem #000000;
        }
      }
    }
  }
  .Welcome {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 2vw 4vw;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

    color: black;
    .title {
      font-size: 5vw;
      font-weight: 600; //semi bold
      margin-bottom: 1.3rem;
    }
    .paragraph1,
    .paragraph2 {
      font-size: 5vh;
      font-weight: 600;
    }

    .paragraph1 {
      span {
        color: #e4ff26;
        font-weight: 800;
        white-space: nowrap;
      }
    }
    .paragraph2 {
      margin-top: 9vh;
      margin-bottom: 2rem;
      font-size: 5vh;
    }
    .list {
      display: flex;
      flex-direction: column;
      font-size: 7vh;

      li {
        font-weight: 700;
        color: #e4ff26;
        transform: translateX(calc(-100% - 8rem));
        backface-visibility: hidden;

        animation: 1s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;

        // &.startAnimation {
        &:nth-child(1) {
          animation-delay: 0s;
        }

        &:nth-child(2) {
          animation-delay: 0.5s;
        }

        &:nth-child(3) {
          animation-delay: 1s;
        }
      }

      // }
    }
    .button {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    button {
      align-self: center;
      color: #00bbff;
      background-color: #e4ff26;
      box-shadow: none;
      font-size: 4vh;
      border: none;
      margin-top: 0vw;
      height: 100%;
      // &:hover {
      //   box-shadow: 0px 0px 1rem #ff40c3;
      // }
      svg {
        color: #00bbff;
      }
    }
    .navigation {
      .circle {
        background-color: #fff;
      }
    }
  }
  .Feature {
    padding-bottom: 3vw;
    header {
      display: flex;
      flex-direction: column;
      font-size: 5vw;

      font-weight: 800;
      margin-bottom: 3vw;
    }
    main {
      .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        width: 100%;
        justify-content: center;

        .group {
          flex: 1;

          display: flex;
          flex-direction: column;

          transform: scale(0);
          backface-visibility: hidden;

          animation: 1s zoomIn cubic-bezier(0.19, 1, 0.22, 1) forwards;

          &:nth-child(1) {
            animation-delay: 0s;
          }

          &:nth-child(2) {
            animation-delay: 0.2s;
          }

          &:nth-child(3) {
            animation-delay: 0.4s;
          }

          img {
            object-position: left;
            object-fit: contain;

            width: 10vw;

            margin: 3rem 0 1.5rem 0;

            filter: drop-shadow(0px 0px 0.3rem white);
          }

          .title {
            margin-bottom: 1vw;
            font-size: 1.6vw;
            font-weight: 700;

            span {
              font-size: 1.9vw;
              font-weight: 700;
            }
          }

          .description {
            .paragraph {
              font-size: 1.2vw;

              &:not(:last-child) {
                margin-bottom: 1vw;
              }

              .line {
                margin: 0.1vw 0;
                white-space: nowrap;

                span {
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }

    &.Start {
      .navigation {
        .circle {
          background-color: #ff40c3;
        }
        .chevron:before,
        .chevron:after {
          background-color: #ff40c3;
          color: #ff40c3;
          .text {
            color: #ff40c3;
          }
        }
        .text {
          color: #ff40c3;
        }
      }
    }
    &.OnTheGo {
      .navigation {
        .circle {
          background-color: #e4ff26;
        }
        .chevron:before,
        .chevron:after {
          background-color: #e4ff26;
          color: #e4ff26;
          .text {
            color: #e4ff26;
          }
        }
        .text {
          color: #e4ff26;
        }
      }
    }
    &.Rdn {
      padding-bottom: 3vw;
      .navigation {
        .circle {
          background-color: #fff;
        }
      }
      .body {
        .group {
          &:nth-child(3) {
            img {
              width: 11.5vw;
              margin: 0.5vw;
            }
          }
        }
      }
    }
  }
  .StayOnDiet {
    header {
      font-size: 4vw;
    }
    main {
      color: #ffffff;
      background-color: #1d2a88;

      .header {
        text-shadow: 0px 0px 0.1rem white;
      }

      .body {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;

        .row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 95%;
          margin-top: 3rem;

          .item {
            box-sizing: border-box;
            height: 5vw;

            &.center {
              padding: 0 2vw 2vw 2vw;
              height: 42rem;
              margin: 0 2vw 2vw 2vw;
            }

            img {
              height: 100%;

              &.firstAnimation,
              &.secondAnimation,
              &.thirdAnimation,
              &.fourthAnimation {
                transform: scale(0);
              }

              &.firstAnimation,
              &.secondAnimation,
              &.thirdAnimation,
              &.fourthAnimation {
                animation: 1s zoomIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
                backface-visibility: hidden;
              }

              &.firstAnimation {
                animation-delay: 0s;
              }

              &.secondAnimation {
                animation-delay: 0.2s;
              }

              &.thirdAnimation {
                animation-delay: 0.4s;
              }

              &.fourthAnimation {
                animation-delay: 0.6s;
              }
            }
          }
        }
      }

      .navigation {
        .circle {
          background-color: #ffffff;
        }
      }
    }
    .navigation {
      .circle {
        background-color: #fff;
      }
      > .chevron:before,
      .chevron:after {
        color: white;
      }
    }
  }
  .TryOut {
    header {
      font-size: 4vw;
    }
    main {
      justify-content: start;
    }
    .body {
      flex-direction: column !important;
      justify-content: center;
      align-items: flex-start;

      width: 5vw;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &.firstRow {
          margin-top: 10rem;
          margin-bottom: 7rem;

          .group {
            width: 25%;

            transform: scale(0);
            backface-visibility: hidden;

            animation: 1s zoomIn cubic-bezier(0.19, 1, 0.22, 1) forwards;

            &.firstTransition {
              animation-delay: 0s;
            }

            &.secondTransition {
              animation-delay: 0.2s;
            }

            &.thirdTransition {
              animation-delay: 0.4s;
            }

            &:nth-child(1),
            &:nth-child(2) {
              > .cover::after {
                content: '';
                position: absolute;
                top: calc(50% - 0.25rem);
                right: -51%;
                height: 0.5rem;
                width: 52%;
                background-color: white;

                transform: scale(0);
                backface-visibility: hidden;
              }
            }

            > .cover::after {
              animation: 1s zoomIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
            }

            &:nth-child(1) {
              > .cover::after {
                animation-delay: 0.2s;
              }
            }

            &:nth-child(2) {
              > .cover::after {
                animation-delay: 0.2s;
              }
            }
          }
        }

        &.secondRow {
          transform: translateX(calc(-115% - 8rem));
          backface-visibility: hidden;

          animation: 1.4s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
          animation-delay: 0.5s;
        }

        .group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          > .cover {
            position: relative;
            margin-bottom: 1rem;
            width: 100%;

            > img {
              width: 100%;
              filter: drop-shadow(0px 0px 0.3rem white);
            }
          }

          > span {
            font-size: 1.8rem;
            font-weight: 600;
            color: white;
          }

          .what {
            display: flex;
            flex-direction: column;

            > span:first-child {
              font-size: 1.7vw;
              font-weight: 700;
              margin-bottom: 1rem;
            }

            > span:last-child {
              font-size: 1vw;
              font-weight: 700;
            }
          }

          > button {
            margin: 0 !important;
            background-color: #1d2a88;
            color: white;
            font-size: 1vw !important;
            font-weight: 700 !important;
            padding: 1.4rem 12rem !important;
          }
        }
      }
    }
    .navigation {
      .circle {
        background-color: #1d2a88;
      }
      .chevron:before,
      .chevron:after {
        background-color: #1d2a88;
        color: #1d2a88;
        .text {
          color: #1d2a88;
        }
      }
      .text {
        color: #1d2a88;
      }
    }
  }
  .ScrollButton {
    position: fixed;
    bottom: 15%;
    right: 1%;
    justify-content: center;
    align-items: center;
    display: flex;

    .container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .chevron {
        width: 2vw;
        height: 0.5vw;
      }
    }
    .text {
      font-size: 1vw;
      text-align: center;
    }
  }
}
