@import "../Layout.scss";
@import "../../Styles/_functions.scss";

.Cover {
  header {
    width: 100%;
    display: flex;

    img {
      height: get-vw(100px);
    }
  }
  button {
    color: #000000;
    background-color: #e4ff26;

    &:hover {
      box-shadow: 0px 0px get-vw(16px) #e4ff26;
    }
  }

  &.Rdn {
    background-image: url("../../images/Covers/rdn.jpg");
    background-position: 100% 20%;
    main {
      ul {
        li {
          transform: translateX(-110%);

          &.title {
            font-size: 5.5vw;
            color: white;
            font-weight: 700;
            text-shadow: 0px 0px 3rem black;
            animation-delay: 0s;

            span {
              color: #e4ff26;
            }
          }
          &.subtitle {
            margin-top: 0.2vw;
            font-size: 2.5vw;
            color: white;
            font-weight: 700;
            text-shadow: 0px 0px get-vw(32px) black;
            animation-delay: 0.5s;

            span {
              color: #e4ff26;
            }
          }
          &.description {
            margin-top: 1vw;
            font-size: 1.5vw;
            font-weight: 200;
            color: white;
            text-shadow: 0px 0px get-vw(16px) black;
            animation-delay: 1s;

            > span {
              color: #000000;
              text-shadow: none;
              font-weight: 400;
              &.yellow {
                color: #e4ff26;
              }
            }
          }
          &.startAnimation {
            animation: 1s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
            &:nth-child(1) {
              animation-delay: 0s;
            }

            &:nth-child(2) {
              animation-delay: 0.5s;
            }

            &:nth-child(3) {
              animation-delay: 1s;
            }
          }
        }
      }
    }
  }
  &.Calories {
    background-image: url("../../images/Covers/calories.jpg");
    background-position: 50% 30%;
  }
  &.Beauty {
    background-image: url("../../images/Covers/beauty.jpg");
    background-position: center right;
  }
}
.Welcome {
  .title {
    font-size: 4.9rem;
    font-weight: 600; //semi bold
    margin-bottom: 1.3rem;
  }

  .paragraph1,
  .paragraph2 {
    font-size: 3.3rem;
    font-weight: 600;
  }

  .paragraph1 {
    span {
      color: #ff40c3;
      font-weight: 800;
      white-space: nowrap;
    }
  }

  .paragraph2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    font-size: 5.4rem;

    span {
      font-weight: 700;
      color: #ff40c3;

      transform: translateX(calc(-100% - 8rem));
      backface-visibility: hidden;

      &.startAnimation {
        animation: 1s slideIn cubic-bezier(0.19, 1, 0.22, 1) forwards;
        &:nth-child(1) {
          animation-delay: 0s;
        }

        &:nth-child(2) {
          animation-delay: 0.5s;
        }

        &:nth-child(3) {
          animation-delay: 1s;
        }
      }
    }
  }

  button {
    align-self: center;
    color: #e4ff26;
    background-color: #ff40c3;

    &:hover {
      box-shadow: 0px 0px 1rem #ff40c3;
    }
  }
}

.Feature {
  header {
  }
  main {
  }
  &.Welcome {
  }
  &.Start {
  }
  &.OnTheGo {
  }
  &.Rdn {
  }
  &.stayOnDiet {
  }
  &.TryOut {
  }
}
